.wrap__header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--components-background);
   box-shadow: var(--card-shadow);
   border-radius: 5px;
   padding: 10px;
   margin: 0 auto;
   width: 100%;
   height: 65px;
   left: 360px;
   top: 20px;
}
.left, .right{
   display: flex;
   align-items: center;
}
.logo__img{
   width: 45px;
}
.header__logo_text{
   margin-left: 20px;
   width: 230px;
   height: 30px;
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 30px;
   text-transform: uppercase;
   font-family: Montserrat;
   color: var(--color-default-blue);
}
.search{
   padding: 0 10px 0 10px;
   text-decoration: none;
}
.search input:active, :hover, :focus {
   outline: 0;
   outline-offset: 0;
}
.search:hover{
   box-shadow: none;
}
.search, .search__btn{
   background-color: var(--components-background);
   border: 1px solid var(--color-default-blue);
   /* box-shadow: var(--card-shadow); */
   color: var(--color-default-blue);
   width: 150px;
   height: 37px;
   border-radius: 10px;
}
.search__btn{
   margin-left: 5px;
   width: 60px;
}
.search__btn:hover{
   box-shadow: none;
}
.button__theme{

}