.wrap__header{
   display: flex;
   justify-content: space-between;
   background-color: var(--components-background);
   padding: 10px;
   margin: 0 auto;
   width: 1000px;
   height: 65px;
   left: 360px;
   top: 20px;
}
.logo__img{

}
.header__logo_text{

}
.button__theme{

}