.wrap__header{
   display: flex;
   justify-content: space-between;
   background-color: var(--components-background);
   padding: 10px;
   margin: 0 auto;
   width: 1000px;
   height: 65px;
   left: 360px;
   top: 20px;
}
.logo__img{

}
.header__logo_text{
   width: 230px;
   height: 30px;
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 30px;
   text-transform: uppercase;
   color: var(--text-color);
}
.button__theme{

}