.wrapper{
   display: flex;
   padding: 20px;
   margin-bottom: 20px;
   background-color: var(--components-background);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   width: 100%;
   height: 340px;
}
.city{
   margin-right: 20px;
   padding: 10px;
   background-color: var(--card-background);
   border-radius: 10px;
   width: 190px;
   height: 300px;
}
.name{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   text-align: center;
   line-height: 22px;
   color: var(--text-color);
}
.date{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #939CB0;
}
.temp__max, .temp__min{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 22px;
   color: var(--text-color);
}
.temp__min{
   font-size: 15px;
}
.precipitation{}
