.wrapper{
   margin-bottom: 20px;
   background-color: var(--components-background);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.city{}
.name{}
.date{}
.temp__max{}
.temp__min{}
.precipitation{}
