.wrapper{
   display: flex;
   justify-content: space-between;
   margin: 25px auto;
}
.main{
   padding: 15px;
   height: 300px;
   width: 400px;
   background-color: var(--components-background);
   box-shadow: var(--card-shadow);
   border-radius: 5px;
}
.main__inner{
   display: flex;
   justify-content: space-around;
}
.main__icon{
   background-color: rgba(229, 229, 229, 0.1);
   border-radius: 50%;
   box-shadow: var(--card-shadow);
   width: 119px;
   height: 119px;
}
.temp__main{
   width: 160px;
   height: 117px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 96px;
   line-height: 117px;
   color: var(--color-default-blue);
}
.day{
   margin-left: 5px;
   margin-bottom: 15px;
   font-family: Montserrat;
   /* font-weight: 500; */
   font-size: 14px;
   font-style: normal;
}
.time{
   margin-bottom: 10px;
}
.time, .city{
   margin-left: 25px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 30px;
   color: #939CB0;
   font-weight: 500;
}
.city{}
/* description */
.description{
   padding: 32px;
   box-shadow: var(--card-shadow);
   background-color: var(--components-background);
   background-image: url('../../assets/images/big-clouds.png');
   background-position: top right;
   background-repeat: no-repeat;
   background-size: contain;
   border-radius: 5px;
   height: 300px;
   width: 750px;
}
.list{
   padding: 10px;
   list-style: none;
}
.description__info{
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 17px;
   color: #000;
}
.temp__description_img{
   margin-right: 20px;
   padding: 5px;
   border: 1px solid var(--card-background);
   box-shadow: var(--card-shadow);
   border-radius: 50%;
   width: 38px;
   height: 38px;
}
.pressure{}
.precipitation{}
.wind{}

/* adaptive */

@media(max-width: 1195px){
   
}