.wrapper{
   display: flex;
   justify-content: center;
}
.main{
   height: 300px;
   width: 400px;
   background-color: var(--components-background);
   box-shadow: var(--card-shadow);
   border-radius: 5px;
}
.temp__main{}
.day{}
.time{}
.city{}
.description{}
.list{}
.temp__description{}
.pressure{}
.precipitation{}
.wind{}